# These values are bundled into the client and must be browser-safe.
QCLI_SUPABASE_URL="http://127.0.0.1:54321"
QCLI_SUPABASE_PUBLISHABLE_KEY="YOUR_PUBLISHABLE_KEY"
QCLI_API_URL="http://localhost:8787"
